.header {
  grid-area: header;
  background-color:  #420ebb;
  color: white;
  
}

.header img {
  width: 50px;
  /* border-style: double; */
  
}


.loginBlock {
  float: right;
}

.loginBlock a {
  color: white;
}